// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* ------------ Mixin ------------ */

@mixin linear-gradient($deg) {
    background: rgba(237,83,164,1);
    background: -moz-linear-gradient($deg, rgba(237,83,164,1) 0%, rgba(85,54,227,1) 100%);
    background: -webkit-linear-gradient($deg, rgba(237,83,164,1) 0%, rgba(85,54,227,1) 100%);
    background: linear-gradient($deg, rgba(237,83,164,1) 0%, rgba(85,54,227,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$secondry",endColorstr="$primary",GradientType=1);
}

/* ------------ component changes ------------ */
h1 {
    @include media-breakpoint-down(md) {
        font-size: 39px;
        line-height: 45px;
    }
}
h2 {
    @include media-breakpoint-down(md) {
        font-size: 32px;
        line-height: 44px;
    }
}
h3 {
    @include media-breakpoint-down(md) {
        font-size: 24px;
        line-height: 36px;
    }
}
h4 {
    @include media-breakpoint-down(md) {
        font-size: 24px;
        line-height: 38px;
    }
}
h5 {
    @include media-breakpoint-down(md) {
        font-size: 20px;
        line-height: 32px;
    }
}
h6 {
    @include media-breakpoint-down(md) {
        font-size: 18px;
        line-height: 30px;
    }
}

a[data-toggle="modal"] {
    display: block;
}

hr {
    margin: 0;
}
strong {
    text-decoration: underline;
    font-weight:bold;
}

a{
  text-decoration: underline;
}

.btn{
  text-decoration: initial;
}

.card {
    border: 0;
    background: $body-bg;
    border-radius: $border-radius-lg;
    box-shadow: $box-shadow;
}

.card-body > *:last-child,.carousel-item p:last-of-type {
    margin-bottom: 0;
}

.carousel-item{
  opacity:0;
  @include transition(transform 0.6s ease-in-out, opacity .2s ease-in-out);

  //active
  &.active:not(.carousel-item-left):not(.carousel-item-right){
    opacity:1;
  }
}

.table{
  margin-bottom: 0;
}

.carousel-control-prev, .carousel-control-next {
    text-decoration: none;
    .fas {
        border-radius: 50%;
        padding: 13px;
        height: 44px;
        width: 44px;
        background: $body-text;
    }
}
.nav-link {
    text-decoration: none;
    font-weight: 600;
}

/* ------------ page ------------ */
main {
    margin-top: 70px;
}
header {
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    @include transition($transition-base);
}
.nav-up {
    transform: translatey(-70px)
}
.section{
  padding-top: $spacer*5;
  padding-bottom: $spacer*5;
  @include media-breakpoint-down(sm) {
      padding-top: $spacer*3;
      padding-bottom: $spacer*3;
  }
}
/* ------------ utility class ------------ */
.line-through {
    text-decoration: line-through;
    text-decoration-color: $secondry;
}
.bg-angle {
    background: $body-bg-alt;
    position: absolute;
    left: -25%;
    right: 0;
    top: 36%;
    bottom: 0;
    width: 150%;
    height: 495px;
    z-index: -1;
    transform:rotate(-30deg);
    @include media-breakpoint-down(sm) {
        height: 300px;
        left: -60%;
        width: 200%;
    }
}
.bg-gradient {
    color: #FFFFFF;
    @include linear-gradient(90deg);
    .user-ratings {
        color: $white;
    }
}
.upAndDown{
  -webkit-animation: action;
  animation: action;
  margin-bottom: 1rem;
  transition-timing-function: ease-in-out,ease-in, ease, linear;
}
.animated.delay-1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.animated.delay-2 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.animated.delay-3 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.animated.delay-4 {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
@-webkit-keyframes action {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(1rem);
  }
  100% {
      transform: translateY(0);
  }
}

/* ------------ new elements ------------ */
.conversion-circle{
  text-align: center;
}

.img-wrapper {
    position: relative;
    display: block;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.icon-hover{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex!important;
  justify-content: center;
  align-items: center;
  cursor:pointer;

  &:before{
    @include transition($transition-base);
  }

  &:hover{
    &:before{
      transform: scale(1.5);
    }
  }
}

//back to top
.back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 100px;
    @include media-breakpoint-down(sm) {
        right: 80px;
    }
}

//button xl
.btn-xl{
  padding: 1.5rem 2rem;
}

//download box
.download-box{
    position: fixed;
    right: 0;
    top: 40vh;
    border-radius: $border-radius-lg 0 0 $border-radius-lg;
    padding: 12px;
    z-index: 99;
    @include media-breakpoint-down(lg) {
        padding: 8px;
        img {
            width: 80%;
        }
    }
    @include media-breakpoint-down(sm) {
        padding: 6px;
        img {
            width: 70%;
        }
    }
    a {
        color: $body-text;
        text-decoration: none;
    }
    .download-number {
        font-size: 20px;
        line-height: 19px;
        font-weight: 600;
        @include media-breakpoint-down(lg) {
            font-size: 17px;
            line-height: 17px;
        }
        @include media-breakpoint-down(sm) {
            font-size: 14px;
            line-height: 14px;
        }
    }
    .download-text {
        font-size: 13px;
        line-height: 17px;
        color: $body-text;
        @include media-breakpoint-down(lg) {
            font-size: 11px;
            line-height: 15px;
        }
        @include media-breakpoint-down(sm) {
            font-size: 10px;
            line-height: 14px;
        }
    }
}

.download-btn {
    position: relative;
    .btn {
        @include media-breakpoint-down(sm) {
            padding: 10px 18px;
            font-size: 1.128125rem;
        }
        @include media-breakpoint-down(xs) {
            padding: 8px 14px;
            font-size: 1rem;
        }
    }
    .arrow-img {
        margin: 10px 0 0 15px;
        position: absolute;
        @include media-breakpoint-down(md) {
            width: 100px;
        }
        @include media-breakpoint-down(sm) {
            width: 80px;
        }
        @include media-breakpoint-down(xs) {
            width: 50px;
        }
    }
}

.footer {
    .download-btn {
        .arrow-img {
            @include media-breakpoint-down(lg) {
                width: 80px;
            }
            @include media-breakpoint-down(md) {
                display: none;
            }
            @include media-breakpoint-down(sm) {
                display: inline-block;
                width: 80px;
            }
            @include media-breakpoint-down(xs) {
                width: 50px;
            }
        }
    }
}

.download-text {
    font-size: 16px;
    line-height: 20px;
    color: $primary;
    margin-bottom:0;
    @include media-breakpoint-down(md) {
        font-size: 12px;
        line-height: 15px;
    }
}

.badge {
    @include media-breakpoint-down(md) {
        white-space: normal;
    }
}

/* ------------ sections ------------ */
.relative {
    position: relative;
}

//angle wrapper
.angle-wrapper {
    position: relative;
    overflow: hidden;
}

// section above fold
.above-fold-section {
    .get-more-sells {
        border-radius: 45px;
        display: table;
        overflow: hidden;
        @include media-breakpoint-down(sm) {
            display: block;
        }
        .sell-item {
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            display: table-cell;
            padding: 5px 50px 5px 5px;
            position: relative;
            vertical-align: middle;
            @include media-breakpoint-down(lg) {
                font-size: 14px;
                line-height: 18px;
            }
            @include media-breakpoint-down(sm) {
                padding: 5px;
                display: flex;
                align-items: center;
                border-bottom: 3px solid $white;
            }
            &:after {
                position: absolute;
                content: "";
                width: 105px;
                top: 25px;
                right: -5px;
                bottom: 0;
                border-top: 3px solid;
                border-color: #FFFFFF;
                -webkit-transform: rotate(60deg);
                transform: rotate(60deg);
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
            &:last-child {
                padding: 5px 20px 5px 5px;
                border-bottom: 0;
                &:after {
                    display: none;
                }
            }
            img {
                vertical-align: middle;
                float: left;
                margin: 0 5px;
                @include media-breakpoint-down(sm) {
                    float: none;
                }
            }
            span {
                padding: 8px 0;
                display: block;
            }
        }
    }
    .main-video {
        background: $body-bg;
        padding: 15px;
    }
}


// seciton no coding
.no-coding-section {
    .features {
        .row {
            border: 1px solid $grey;
            border-radius: 6px;
        }
        .feature {
            border: 1px solid $grey;
            border-collapse: collapse;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            align-items: center;
        }
    }
}

//section featured addon
.featured-addon-section {
  .addon-list{
    li{
      margin-bottom: 0.5rem;

      &:before{
        content: "\f058";
        font-family: "Font Awesome 5 Free";
        font-weight:900;
        margin-right: 5px;
        color: $primary;
      }
    }
  }
}

//section quote
.offset-quote-img{
  position:relative;

  img{
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      left:0;
      margin-top: -50%;
    }
  }
}

// section entrepreneur
.entrepreneur-section {
    .card {
        margin-top: 85px;
        .success-img {
            margin-top: -85px;
        }
    }
}

// section support
.support-section {
    .support-wrapper {
        background: url("images/new/support.png") center no-repeat;
        background-size: cover;
        padding: 50px 0;
        @include media-breakpoint-down(lg) {
            padding: 30px 0;
        }
        @include media-breakpoint-down(md) {
            background: url("images/new/support-mobile.png") center no-repeat;
            background-size: cover;
            padding: 50px 0;
        }
        @include media-breakpoint-down(sm) {
            padding: 10px 0;
        }
        h2 {
            position: relative;
            left: 0;
            right: 0;
            padding: 50px 100px;
            max-width: 850px;
            margin-left: 35%;
            margin-bottom: 0;
            font-size: 36px;
            line-height: 44px;
            @include media-breakpoint-down(lg) {
                padding: 50px;
                font-size: 28px;
                line-height: 36px;
            }
            @include media-breakpoint-down(sm) {
                padding: 50px 20px;
                font-size: 22px;
                line-height: 28px;
            }
            @include media-breakpoint-down(xs) {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }

    .support-rep{
      img{
        width: 131px;
      }
    }
}
// section cash printing
.cash-printing-section {
    background: url('/images/new/cash-printing-bg.png') 0 0 no-repeat;
    background-size: cover;
}

// section casestudy
.casestudy-carousel {
    .carousel-inner {
        padding: 0 50px;
    }
    .carousel-control-prev, .carousel-control-next {
        width: auto;
    }
}

// section price plan
.price-plan-section {
    .card {
        background: $primary;
        color: $white;
        border-radius: 6px;
        border: 0;
        .card-img-top {
            margin: 0 2%;
            width: 96%;
            border-radius: 6px;
            background: rgb(85,54,227);
            background: linear-gradient(180deg, rgba(85,54,227,0.5) 0%, rgba(168,153,240,0.3) 60%, rgba(184,171,243,0.3) 75%, rgba(202,193,246,0.3) 90%, rgba(255,255,255,0.2) 100%);
        }
        .card-body {
            p {
                margin-bottom: 8px;
            }
        }
        .card-footer {
            border: 0;
            background-color: inherit;
            border-radius: 0 0 6px 6px;
        }
        &.hustler-plan {
            @include linear-gradient(180deg);
            .card-img-top {
                background: rgb(204,76,177);
                background: linear-gradient(180deg, rgba(204,76,177,0.9) 0%, rgba(237,83,164,0.3) 100%);
            }
        }
        .plan-price {
            h6 {
                color: $yellow;
                font-weight: 600;
                font-size: 37px;
                line-height: 47px;
            }
            h4 {
                font-size: 23px;
                line-height: 49px;
                strong {
                    font-size: 49px;
                    line-height: 49px;
                    font-weight: 800;
                }
            }
        }
        .btn {
            font-size: 24px;
            line-height: 31px;
            padding: 10px;
            width: 100%;
            @include media-breakpoint-up(lg) {
                font-size: 15px;
                line-height: 21px;
            }
            @include media-breakpoint-up(xl) {
                font-size: 18px;
                line-height: 24px;
            }
            @media screen and (min-width: 1700px) {
                font-size: 24px;
                line-height: 31px;
            }
        }
    }
}

// section author
.author-section {
    .sell-img-wrapper {
        img {
            z-index: 2;
            margin: 10px;
            width: 60%;
            @include media-breakpoint-down(sm) {
                width: 30%;
            }
        }
    }
}

// section make money
.make-money-bg {
    color: $body-bg;
    padding: 100px 0;
    background-image: url('/images/new/make-money-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include media-breakpoint-down(sm) {
        padding: 50px 0;
        background-position: right;
    }
    .download-text {
        color: $body-bg;
    }
}

// section success
.road-to-success-section {
    background: url("images/new/road-to-success.png") top right no-repeat;
    background-size: cover;
}

// section faq
.accordion-section{
  .btn{
    text-align: left;
    &:after {
        content: "\f106";
        font-family: "Font Awesome 5 Free";
        font-weight:900;
        float: right;
    }
    &.collapsed:after {
      content: "\f107";
    }
  }
}


// section language
.languages-section {
    position: relative;
    h3 {
        width: 60%;
        margin: 0 auto;
        @include media-breakpoint-down(sm) {
            width: 80%;
        }
    }
    h5 {
        width: 80%;
        margin: 0 auto;
        @include media-breakpoint-down(sm) {
            width: 90%;
        }
    }
    .languages-wrapper {
        div {
            font-size: 21px;
            line-height: 42px;
            font-weight: 600;
            white-space: nowrap;
            float: left;
            width: 18%;
            margin: 1%;
            background: $body-bg;
            padding: 8px;
            border-radius: 6px;
            border: 1px solid $grey;
            @include media-breakpoint-down(lg) {
                width: 23%;
                font-size: 22px;
                line-height: 26px;
            }
            @include media-breakpoint-down(md) {
                font-size: 20px;
                line-height: 24px;
            }
            @include media-breakpoint-down(sm) {
                width: 48%;
                font-size: 18px;
                line-height: 22px;
            }
            img {
                height: 48px;
                width: 48px;
                margin-right: 5px;
                @include media-breakpoint-down(sm) {
                    height: 38px;
                    width: 38px;
                }
            }
        }
    }
}

// section integration
.integration-section {
    .apps-icons {
        .app-icon {
            width: 18%;
            float: left;
            margin: 1%;
            @include media-breakpoint-down(xs) {
                width: 48%;
                &:nth-child(2n+1) {
                    clear: both;
                }
            }
        }
    }
}

/* ------------ plugins ------------ */

//reviews
.user-ratings {
    display:flex;
    justify-content: center;

    .romw-badge {
        border-radius: 6px;
        margin: 4px;
    }

    .romw-badge-single{
      height:auto!important;
      width:auto!important;
    }
}

//lazyload
.lazyload,.lazyloading{
  opacity:0;
  @include transition($transition-base);
}

.lazyloaded{
  opacity:1;
  @include transition($transition-base);
}
