$sm: 48.0625em;
$border: var(--p-border-subdued,.1rem solid var(--p-divider-subdued-on-surface,#dfe3e8));
$spacer: 1.6rem;
$gutter: 2rem;
$bg-blue: #EBEDF8;
$muted: #919eab;

.Polaris-Tag__Button{
  margin-right: -0.8rem;
}
small,.small{
  font-size: small;
}
.text-capitalize{
  text-transform: capitalize;
}
.sm-show{
  display: none;
  @media (max-width: $sm){
    display: block;
  }
}
.text-muted{
  color:$muted!important;
}
.question-icon{
  cursor: pointer;
}
.badge-wrapper{
  position: absolute;
  top: -12px;
  width: 100%;
  left: 0;
  right:0;
  text-align: center;
}
.Polaris-Button--sizeLarge.Polaris-Button--loading .Polaris-Button__Content{
  line-height: 1.6rem!important;
}
.mt{
  margin-top: $gutter;
}
.mb{
  margin-bottom: $gutter;
}

// grid
.container-fluid{
  padding: 0;
}
.row{
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;
  margin-top: -$gutter;

  @media (max-width: $sm){
    margin-left: 0;
    margin-right: 0;
  }
}
.col, [class*="col-"]{
  padding-right: $gutter/2;
  padding-left: $gutter/2;
  margin-top: $gutter;

  @media (max-width: $sm){
    padding-right: 0;
    padding-left: 0;
  }
}
// end grid

.Polaris-FormLayout__Item iframe{
  border-radius: 6px;
}

#provesrc-widget-area,#provesrc-notification-container{
  z-index:10!important;
}

// empty state
@media (min-width: 46.5em){
	.Polaris-EmptyState__Section{
		left: 0;
	}
}
.Polaris-EmptyState__Details{
  width: 38.6rem!important;
  @media (max-width: $sm){
    width: 100%!important;
  }
}

.main{
  display: flex;
}
.page-header{
  border-bottom: $border;
  padding-bottom: $spacer;
  margin-bottom: $spacer;
}

//nav
.nav-plan{
  padding: $gutter $spacer;
}
.Polaris-Navigation{
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index:10;
  @media (max-width: $sm){
    display: none;
    z-index: 30;
    max-width: 100%;
    width: 100%;
  }
}
.Polaris-Navigation__Section{
  display: flex;
  flex-direction: column;
}
.Polaris-Navigation__Icon{
  align-self: center;
}
.Polaris-Navigation__Text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-1{
  flex: 1;
}
.open-menu{
  display: flex;
}
.active-nav{
  font-weight: 600!important;
  color: #202e78!important;
  background-color: rgba(92,106,196,.12)!important;

  svg{
    fill: #5c6ac4!important;
    color: #fff!important;
  }
}
.btn-open-nav-container{
  @media (max-width: $sm){
    display: block!important;
  }
}
.btn-open-nav{
  .Polaris-Icon{
    margin-left: inherit;
    margin-right: 5px;
    line-height: 1;
  }
}
.btn-close-nav{
  margin-bottom: $spacer;
  .Polaris-Icon{
    margin-left: inherit;
    margin-right: 5px;
    line-height: 1;
  }
  @media (max-width: $sm){
    display: block!important;
  }
}
//main page container
.page-container{
  margin-left:24rem;
  width: 100%;

  @media (max-width: $sm){
    margin-left:0;
  }
}

.stripe-custom-input{
  border: .1rem solid #C0CCD4;
  border-radius: 3px;
  padding: 0.8rem 1.2rem;
  transition: all 0.2s ease;
}
.StripeElement--focus{
  box-shadow: 0 0 0 2px #576CC2;
  border-color: transparent;
  border-radius: 2px;
}
@media (max-width: 30.625em){
  .layout-item{
    padding: 0 $spacer;
  }
}
.discount-price,.discount-price-monthly{
  text-decoration: line-through;
}
form.Polaris-Modal__BodyWrapper{
	-webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.type--centered{
  text-align: center;
}
.ui-type-container>*:not(.hide)+* {
  margin-top: $spacer;
}
.modal-open{
  overflow: hidden;
}
.Polaris-Choice{
  padding:$spacer;
  margin:0;
  width: 100%;
  cursor: pointer;
}

//other
.custom-avatar{
  border-radius: 0;
  .Polaris-Avatar__Image{
    background-color: inherit;
    border-radius: 0;
    object-fit: contain;
  }
}
.Polaris-Badge{
  font-weight: 600!important;
}
.page-title{
  text-transform: capitalize;
}
.Polaris-Modal-Dialog__Modal{
  visibility: visible;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform,opacity;
  animation: modalAnimation .2s cubic-bezier(.64,0,.35,1);
}

@keyframes modalAnimation {
  0% {
      opacity: 0;
      transform: scale(1.15);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}
.Polaris-Button__Content{
  line-height: $spacer;
}

.Polaris-Banner{
  margin: $spacer 0px;
}
.theme-nav{
  .Polaris-ButtonGroup__Item{
    flex:1;
  }
  .Polaris-Button{
    width: 100%;
  }
}

.loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(244,246,248,0.4);
    z-index: 9999;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.Polaris-ResourceList-Item__Container{
  align-items: center;
}

.Polaris-ResourceList{
  border-top: $border;
}
.Polaris-SkeletonThumbnail{
  margin-left: 4rem;
  margin-right: 2.8rem;
}
.Polaris-CalloutCard__Image{
  width: 12rem;
  display: block;
}
@media (min-width: 28.625em){
  .Polaris-ResourceList-Item__Container {
      padding: $spacer $spacer;
  }
}

.Polaris-Card-Banner{
    margin: $spacer 0px;
}

.Polaris-FooterHelp__Content{
  background-color: #f4f6f8;
}

//skeleton
.Polaris-SkeletonPage__Page{
  padding: 0px;
}
.Polaris-SkeletonPage__Content{
  margin: 0px;
}

//addon
.addon-title{
  display: inline-block;
}

.modal-spacer{
  margin:($spacer) (-2rem);
}

// plan new design css
.Polaris-DataTable__Table{
  table-layout: fixed;

  .Polaris-DataTable__Cell--header{
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
  }

  .table-section-title{
    display: flex;
    align-items: center;
  }
  .Polaris-Navigation__Icon{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: .6rem;

    svg{
      fill: #5c6ac4 !important;
      color: #fff !important;
    }
  }
  .Polaris-Icon{
    display: inline-block;
  }
  .Polaris-DataTable__Cell{
    white-space: normal;
    position: relative;
    height: 64.8px;

    &:not(.Polaris-DataTable__Cell--firstColumn){
      border-left:$border;
      text-align: center;
    }
  }
  td:nth-child(4),th:nth-child(4) {
    background-color: $bg-blue!Important;
  }
  .plan-disabled{
    .Polaris-Icon{
      opacity:0.3;
    }
  }

  //mobile
  @media (max-width: $sm){
    tbody{
      display: none;
    }
    .Polaris-DataTable__Cell--header{
      display: block;
      height: auto;
    }
  }
}

//sticky table row
.Sticky__tableRow{
  position: relative;

  th{
    height: 68.8px;
  }
  .Polaris-DataTable__Cell--firstColumn{
    position: sticky;
    top: -1px;
    z-index: 5;
    color: #202e78;
  }

  &.plan-row{
    th:not(.Polaris-DataTable__Cell--firstColumn){
      position: sticky;
      top: -1px;
      z-index: 5;
    }
  }
}
