.Polaris-Tag__Button {
  margin-right: -0.8rem;
}

small,
.small {
  font-size: small;
}

.text-capitalize {
  text-transform: capitalize;
}

.sm-show {
  display: none;
}

@media (max-width: 48.0625em) {
  .sm-show {
    display: block;
  }
}

.text-muted {
  color: #919eab !important;
}

.question-icon {
  cursor: pointer;
}

.badge-wrapper {
  position: absolute;
  top: -12px;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
}

.Polaris-Button--sizeLarge.Polaris-Button--loading .Polaris-Button__Content {
  line-height: 1.6rem !important;
}

.mt {
  margin-top: 2rem;
}

.mb {
  margin-bottom: 2rem;
}

.container-fluid {
  padding: 0;
}

.row {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -2rem;
}

@media (max-width: 48.0625em) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.col,
[class*=col-] {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 2rem;
}

@media (max-width: 48.0625em) {
  .col,
  [class*=col-] {
    padding-right: 0;
    padding-left: 0;
  }
}

.Polaris-FormLayout__Item iframe {
  border-radius: 6px;
}

#provesrc-widget-area,
#provesrc-notification-container {
  z-index: 10 !important;
}

@media (min-width: 46.5em) {
  .Polaris-EmptyState__Section {
    left: 0;
  }
}

.Polaris-EmptyState__Details {
  width: 38.6rem !important;
}

@media (max-width: 48.0625em) {
  .Polaris-EmptyState__Details {
    width: 100% !important;
  }
}

.main {
  display: flex;
}

.page-header {
  border-bottom: var(--p-border-subdued, 0.1rem solid var(--p-divider-subdued-on-surface, #dfe3e8));
  padding-bottom: 1.6rem;
  margin-bottom: 1.6rem;
}

.nav-plan {
  padding: 2rem 1.6rem;
}

.Polaris-Navigation {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 10;
}

@media (max-width: 48.0625em) {
  .Polaris-Navigation {
    display: none;
    z-index: 30;
    max-width: 100%;
    width: 100%;
  }
}

.Polaris-Navigation__Section {
  display: flex;
  flex-direction: column;
}

.Polaris-Navigation__Icon {
  align-self: center;
}

.Polaris-Navigation__Text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.open-menu {
  display: flex;
}

.active-nav {
  font-weight: 600 !important;
  color: #202e78 !important;
  background-color: rgba(92, 106, 196, 0.12) !important;
}

.active-nav svg {
  fill: #5c6ac4 !important;
  color: #fff !important;
}

@media (max-width: 48.0625em) {
  .btn-open-nav-container {
    display: block !important;
  }
}

.btn-open-nav .Polaris-Icon {
  margin-left: inherit;
  margin-right: 5px;
  line-height: 1;
}

.btn-close-nav {
  margin-bottom: 1.6rem;
}

.btn-close-nav .Polaris-Icon {
  margin-left: inherit;
  margin-right: 5px;
  line-height: 1;
}

@media (max-width: 48.0625em) {
  .btn-close-nav {
    display: block !important;
  }
}

.page-container {
  margin-left: 24rem;
  width: 100%;
}

@media (max-width: 48.0625em) {
  .page-container {
    margin-left: 0;
  }
}

.stripe-custom-input {
  border: 0.1rem solid #C0CCD4;
  border-radius: 3px;
  padding: 0.8rem 1.2rem;
  transition: all 0.2s ease;
}

.StripeElement--focus {
  box-shadow: 0 0 0 2px #576CC2;
  border-color: transparent;
  border-radius: 2px;
}

@media (max-width: 30.625em) {
  .layout-item {
    padding: 0 1.6rem;
  }
}

.discount-price,
.discount-price-monthly {
  text-decoration: line-through;
}

form.Polaris-Modal__BodyWrapper {
  flex-direction: column;
}

.type--centered {
  text-align: center;
}

.ui-type-container > *:not(.hide) + * {
  margin-top: 1.6rem;
}

.modal-open {
  overflow: hidden;
}

.Polaris-Choice {
  padding: 1.6rem;
  margin: 0;
  width: 100%;
  cursor: pointer;
}

.custom-avatar {
  border-radius: 0;
}

.custom-avatar .Polaris-Avatar__Image {
  background-color: inherit;
  border-radius: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.Polaris-Badge {
  font-weight: 600 !important;
}

.page-title {
  text-transform: capitalize;
}

.Polaris-Modal-Dialog__Modal {
  visibility: visible;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform, opacity;
  -webkit-animation: modalAnimation 0.2s cubic-bezier(0.64, 0, 0.35, 1);
          animation: modalAnimation 0.2s cubic-bezier(0.64, 0, 0.35, 1);
}

@-webkit-keyframes modalAnimation {
  0% {
    opacity: 0;
    transform: scale(1.15);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalAnimation {
  0% {
    opacity: 0;
    transform: scale(1.15);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.Polaris-Button__Content {
  line-height: 1.6rem;
}

.Polaris-Banner {
  margin: 1.6rem 0px;
}

.theme-nav .Polaris-ButtonGroup__Item {
  flex: 1;
}

.theme-nav .Polaris-Button {
  width: 100%;
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(244, 246, 248, 0.4);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Polaris-ResourceList-Item__Container {
  align-items: center;
}

.Polaris-ResourceList {
  border-top: var(--p-border-subdued, 0.1rem solid var(--p-divider-subdued-on-surface, #dfe3e8));
}

.Polaris-SkeletonThumbnail {
  margin-left: 4rem;
  margin-right: 2.8rem;
}

.Polaris-CalloutCard__Image {
  width: 12rem;
  display: block;
}

@media (min-width: 28.625em) {
  .Polaris-ResourceList-Item__Container {
    padding: 1.6rem 1.6rem;
  }
}

.Polaris-Card-Banner {
  margin: 1.6rem 0px;
}

.Polaris-FooterHelp__Content {
  background-color: #f4f6f8;
}

.Polaris-SkeletonPage__Page {
  padding: 0px;
}

.Polaris-SkeletonPage__Content {
  margin: 0px;
}

.addon-title {
  display: inline-block;
}

.modal-spacer {
  margin: 1.6rem -2rem;
}

.Polaris-DataTable__Table {
  table-layout: fixed;
}

.Polaris-DataTable__Table .Polaris-DataTable__Cell--header {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

.Polaris-DataTable__Table .table-section-title {
  display: flex;
  align-items: center;
}

.Polaris-DataTable__Table .Polaris-Navigation__Icon {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0.6rem;
}

.Polaris-DataTable__Table .Polaris-Navigation__Icon svg {
  fill: #5c6ac4 !important;
  color: #fff !important;
}

.Polaris-DataTable__Table .Polaris-Icon {
  display: inline-block;
}

.Polaris-DataTable__Table .Polaris-DataTable__Cell {
  white-space: normal;
  position: relative;
  height: 64.8px;
}

.Polaris-DataTable__Table .Polaris-DataTable__Cell:not(.Polaris-DataTable__Cell--firstColumn) {
  border-left: var(--p-border-subdued, 0.1rem solid var(--p-divider-subdued-on-surface, #dfe3e8));
  text-align: center;
}

.Polaris-DataTable__Table td:nth-child(4),
.Polaris-DataTable__Table th:nth-child(4) {
  background-color: #EBEDF8 !important;
}

.Polaris-DataTable__Table .plan-disabled .Polaris-Icon {
  opacity: 0.3;
}

@media (max-width: 48.0625em) {
  .Polaris-DataTable__Table tbody {
    display: none;
  }

  .Polaris-DataTable__Table .Polaris-DataTable__Cell--header {
    display: block;
    height: auto;
  }
}

.Sticky__tableRow {
  position: relative;
}

.Sticky__tableRow th {
  height: 68.8px;
}

.Sticky__tableRow .Polaris-DataTable__Cell--firstColumn {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 5;
  color: #202e78;
}

.Sticky__tableRow.plan-row th:not(.Polaris-DataTable__Cell--firstColumn) {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 5;
}

