/*
Theme Name: Twenty Twenty Child
Theme URL: https://dev.debutify.com
Description: Twenty Twenty Child Theme
Author: Suffescom
Template: twentytwenty
Version: 1.0.0
Text Domain: twentytwenty-child
*/ 
/* Custom CSS goes after this line */

body:not(.overlay-header) .primary-menu > li > ul::after {
	border-bottom-color: #fff !important;
}

.addtoany_share_save_container.addtoany_content.addtoany_content_bottom {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}


a:hover{
	 color: 
    #e22658;
	
}

.btn{
	
	font-size:inherit;
}

.annocement_bar  {
background: #cd2653;
/* padding: 1em 2em; */
margin: 0 auto;
float: left;
width: 100%;

}
.sp-smartbar__body > * {
	margin: 0.25em 0.5em;
}
.annocement_bar a.text_area {
text-align: center;
font-size: 26px;
font-weight: 700;
/* padding: 0em 0em; */
color: #fff;
font-family: inherit;
text-decoration:none;
}

.sp-smartbar__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 0px;
	padding: 1em 2em;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	color: #fff;
}
#site-content article {
    margin-bottom: 68px;
}
#site-content article .post-meta-wrapper.post-meta-single.post-meta-single-bottom li.post-tags.meta-wrapper {
    width: 100%;
    justify-content: center;
}

.fixed {
  position: fixed;
}
.header {
  background-color: #BBB;
  width: 100%;
  height: 70px;
  z-index: 10;
}
.header > h1 {
  font-family: "Black Ops One" "Avenir Light" sans-serif;
  line-height: 70px;
  margin: 0 20px 0 20px;
}
.admin-bar progress {
    top: 32px;
}
progress {
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  height: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  color: #e22658;
  z-index: 10;
}
progress::-webkit-progress-bar {
  background-color: transparent;
  z-index: 10;
}
progress::-webkit-progress-value {
  background-color:#5600e3;
  z-index: 10;
}
progress::-moz-progress-bar {
  background-color: #5600e3;
  z-index: 10;
}
.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  display: block;
  z-index: 10;
}
.progress-bar {
  background-color:#5600e3;
  width: 0%;
  display: block;
  height: inherit;
  z-index: 10;
}
.blog_sidebar {
	padding: 8rem 0 0;
}
.blog_sidebar .widget_media_image a img {
	max-width: 100%;
	height: 100%;
	width: 100%;
}
.singular .featured-media-inner {
	position: relative;
	left: 0;
	width: 100%;
	margin: 0 auto;
	right: 0;
}
.mobile-menu {
	margin-left: 13px;
}
.a2a_kit {
    top: 30% !important;
}

#site-header>a {
    text-decoration: none;
}

.blog_sidebar .widget_tag_cloud a, 
.blog_sidebar a,
.btn.more-link, 
.entry-categories a,
body .header-navigation-wrapper .primary-menu a,
.pagination a,
body .footer-menu a,
html body:not(.overlay-header) .primary-menu > li > a,
.footer-inner .menu-primary-container .menu a{
    color: #5600e3;
}
.blog_sidebar .widget_tag_cloud a:hover, 
.blog_sidebar a:hover,
.btn.more-link:hover, 
.entry-categories a:hover,
body .header-navigation-wrapper .primary-menu a:hover,
.pagination a:hover,
.footer-menu a:hover,
html body:not(.overlay-header) .primary-menu > li > a:hover,
.footer-inner .menu-primary-container .menu a:hover{
    color: #9557ff;
}

.search-form .search-submit, .footer-inner .footer-social a
{
  background: #5600e3;
}
.search-form .search-submit:hover, .footer-inner .footer-social a:hover
{
  background: #9557ff;
}
.footer-inner .footer-social a:hover svg.svg-icon {
    fill: #fff;
    color: #fff;
}

.header-footer-group .color-accent
{
   color: #5600e3 !important;
}
.meta-text a:hover
{
  color: #5600e3;
}
body .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    max-width: 100%;
    width: calc(100% - 4rem);
}
.footer-nav-widgets-wrapper .section-inner {
    max-width: 168rem;
}

/* body:not(.overlay-header) .primary-menu > li > a, body:not(.overlay-header) .primary-menu > li > .icon, .modal-menu a, .footer-menu a, .footer-widgets a, #site-footer .wp-block-button.is-style-outline, .wp-block-pullquote::before, .singular:not(.overlay-header) .entry-header a, .archive-header a, .header-footer-group .color-accent, .header-footer-group .color-accent-hover:hover { */
	/* color: #5600e3 !important; */
/* } */

/* .color-accent, .color-accent-hover:hover, .color-accent-hover:focus, :root .has-accent-color, .has-drop-cap:not(:focus)::first-letter, .wp-block-button.is-style-outline, a { */
	/* color: #5600e3 !important; */
/* } */

.entry-content a:hover {
	color: #9557ff !important;
}
button:not(.toggle), .button, .faux-button, .wp-block-button__link, .wp-block-file .wp-block-file__button, input[type="button"], input[type="reset"], input[type="submit"], .bg-accent, .bg-accent-hover:hover, .bg-accent-hover:focus, :root .has-accent-background-color, .comment-reply-link {
	background-color: #5600e3 !important;
}
.pagination-single-inner a:hover {
	color:#9557ff;
}
footer a:hover {
	color: #000;
	text-decoration:underline;
}
.social-icons a, #site-footer button:not(.toggle), #site-footer .button, #site-footer .faux-button, #site-footer .wp-block-button__link, #site-footer .wp-block-file__button, #site-footer input[type="button"], #site-footer input[type="reset"], #site-footer input[type="submit"] {
	background-color: #5600e3 !important;
	color: #fff !important;
}
.social-icons a:hover {
	background: #9557ff !important;
	color: #fff !important;
}
body:not(.overlay-header) .primary-menu ul {
	background-color: #fff !important;
	border: none !important;
}
.rpwwt-post-title {
	font-size: 18px;
	font-weight: bold;

	/* margin: 10px; */
}
.rpwwt-widget ul li:hover {
	text-decoration: underline;
}
.blog_sidebar a{
	text-decoration:none;
}
.sp-smartbar__button{

/* width: 33.33%; */
display:inline;
float:right;
font-size:17px;
}
.sp-smartbar__button a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
   border: #fff 1px solid;
    padding: .5em 1.5em;
    border-radius: 3px;
    font-weight: 500;
}
/*.sp-smartbar__close {
	padding: .25em;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 1em;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background: transparent;
	border: 0;
	color: #9b9b9b;
	font-size: 20px;
}*/
.single-post .featuredimage img {
	cursor: auto;
	/* z-index: 1; */
}
#rpwwt-recent-posts-widget-with-thumbnails-2 img {

	object-fit: cover;
}
.primary-menu li.menu-item-has-children:hover > ul, .primary-menu li.menu-item-has-children:focus > ul, .primary-menu li.menu-item-has-children.focus > ul {

	box-shadow: 0px 1px 5px 1px #a18ed54f;
}
.header-inner .debutify_button {
	background: #EB55A3;
	border-radius: 4px;
	padding: 11px 17px 11px 17px;
	margin: 2px 0px 0 25px;
} 

.header-inner .debutify_button a {
	color: #fff !important;
	
}
.primary-menu > li {

	padding-bottom: 5px;
	padding-top: 5px;
}
.modal-menu ul li {
	border-left-width: 0;
}
.header-inner .primary-menu .icon {

	width: 10%;
}
.header-inner .modal-menu > li.debutify_button {
	border-bottom-width: 0.1rem;
	width: 100%;
	/* text-align: center; */
	padding-left: 10px;
	margin: 0;
	height: auto;
}
header-inner .modal-menu > li.debutify_button > .ancestor-wrapper > a {
	font-size: 2.4rem;
	padding: 10px;
}
.primary-menu > li > .icon {
	right: -0.5rem;
	top: calc(50% - 0.4rem);
}
.primary-menu > li.menu-item-has-children > a {
    padding-right: 0;
    margin-right: 2rem;

}
@media (min-width: 1200px)
{
body .container {
    width: calc(100% - 8rem);
    max-width: 168rem;
}
}
@media(max-width:990px){
	
	.blog_sidebar {
		
		display:none;
		
	}
	
}


@media (min-width: 767px)
{
body .section-inner {
    width: calc(100% - 10rem);
}

}
@media (min-width: 767px) and (max-width: 999px)
{
.site-title, .site-logo, .site-description {
    margin: 0;
    top: 40px;
    position: relative;
}
	.header-inner .toggle {

		top: 70%;
	}

}


@media (max-width: 767px)
{
	.annocement_bar {

		font-size: 18px;

	}
.site-title, .site-logo, .site-description {
    margin: 0;
    top: 25px;
    position: relative;
}
	.header-inner .toggle {

		top: 74%;
	}
}


@media (min-width: 1500px)
{
body .section-inner {
    width: calc(100% - 8rem);
}
}